# Entorno general
SPRING_PROFILES_ACTIVE=dev
APP_NAME=msc-service

# Base de datos
DB_NAME=db_test
DB_URL=jdbc:postgresql://service-postgres-server:5432/db_test
DB_USERNAME=postgres
DB_PASSWORD=admin

# Seguridad / JWT
JWT_ISSUER_URI=http://localhost:8080/authorizationServer
TRUSTED_PROXIES=127.0.0.1,::1

# Aplicación
SERVER_PORT=8081
MSC_SERVICE_PORT=8081
MSC_CONTEXT_PATH=/mscServices